{% extends "base.html" %}
{% block title %}Mushroom Edibility{% endblock %}
{% block content%}

{% if submitted %}

<br><br><br>
<div class="container box-container">
    <div class="row">
            <span class="col-sm-12">
                <h1>Mushroom Edibility Classification</h1>
                <p>This classification focus on classifying the edibility of various mushroom species based on their attributes. It's essential to note that while
                     this classification provides insights into the potential edibility of mushrooms, individuals should exercise caution when consuming 
                     wild mushrooms and consult with a mycologist or expert for accurate identification.</p>
                <p>The classification task involves determining whether a mushroom species is edible, poisonous, or of unknown edibility and not recommended 
                    for consumption. By analyzing attributes such as cap shape, odor, and habitat, the model aims to assist mushroom enthusiasts and 
                    foragers in making informed decisions about which mushrooms are safe to consume.</p>
            </span>
    </div>
</div>

<br>
<!-- Form to enter new data for predictions  -->



<br><br><br>


{% endblock %}
