{% extends "base.html" %}
{% block title %}Rental Price{% endblock %}
{% block content%}

{% if submitted %}
  {% if prediction %}
    <br><br>
        <!-- Display predicted rental price -->
        <div class="row prediction-result">
            <div class="col-sm-12">
                <br>
                <h2>Predicted Rental Price: ${{ prediction }}</h2>
                <p>Considering the predicted rental price, you may want to explore similar properties in the area to gauge market rates.
                 Additionally, making improvements such as upgrading amenities or enhancing property features could potentially increase the rental value.</p>
                <br><p>Please note that the predicted rental price is an estimate based on the provided input, and actual rental prices may
                 vary due to factors such as market fluctuations, location, and property condition.</p>

            </div>
        </div>
        <br>
    {% endif %}
{% endif %}

<br><br><br>
<!-- Introduction to rental price prediction -->
<div class="container box-container">
    <div class="row">
        <span class="col-sm-12">
            <h1>Rental Price Prediction</h1>
            <p>This prediction aims to predict the rental prices of budget accommodation provided by Homely Hotels and Homes. 
                It utilizes machine learning algorithms trained on relevant features from the dataset to estimate the rental prices accurately.
            </p>
            <p>Predicting rental prices is essential for both landlords and tenants. 
                Landlords can set competitive rental rates based on market trends and property features, while tenants can make informed decisions 
                when searching for accommodation within their budget. 
            </p>
            <p>It's important to note that the predictions provided by this model are based on historical data and patterns observed in the dataset.
                Actual rental prices may vary due to factors such as location, demand, and property condition</p>
        </span>
    </div>
</div>
<br>

<!-- Form to enter new data for predictions  -->
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 box-container">
            <h2>Accommodation Capacity Predictor:</h2>
            <form action="{{ url_for('predict_rental')}}" method="POST">
            <!-- Wrap all input fields inside a container -->
            <div class="input-container">
                <!-- Input field for number of bathrooms -->
                <div class="input-row">
                    <label for="bathrooms">Number of Bathrooms (1 - 8):</label><br>
                    <input type="number" id="bathrooms" name='bathrooms' placeholder="Bathrooms" min="1" max="8" required="required" style="width: 100%;"><br>
                </div>
                
                <!-- Input field for number of bedrooms -->
                <div class="input-row">
                    <label for="bedrooms">Number of Bedrooms (1 - 10):</label><br>
                    <input type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms" min="1" max="10" required="required" style="width: 100%;"><br>
                </div>
                
                <!-- Input field for number of accommodates -->
                <div class="input-row">
                    <label for="accommodates">Accommodates (1 - 16):</label><br>
                    <input type="number" id="accommodates" name='accommodates' placeholder="Accommodates" min="1" max="16" required="required" style="width: 100%;"><br>
                </div>
    
                 <!-- Input field for number of beds -->
                <div class="input-row">
                    <label for="beds">Number of Beds (1 - 16):</label><br>
                    <input type="number" id="beds" name='beds' placeholder="Beds" min="1" max="16" required="required" style="width: 100%;"><br>
                </div>
                
                 <!-- Input field for review scores rating -->
                <div class="input-row">
                    <label for="review_scores_rating">Review Scores Rating (20 - 100):</label><br>
                    <input type="number" id="review_scores_rating" name='review_scores_rating' placeholder="Review Scores Rating" min="20" max="100" required="required" style="width: 100%;"><br>
                </div>
            </div>
            <br>
             <!-- Button to reset form -->
            <button><a href="/rental">Reset</a></button>
            <br><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Predict Rental Price</button>
            </form>
            <!-- Display error messages -->
            <div id="error-messages">{{ error_message }}</div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<br><br>
{% endblock %}