<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
    <script>
      $(".navbar-nav .nav-item").on("click", function(){
        $(".navbar-nav").find(".active").removeClass("active");
        $(this).addClass("active");
      });
    </script>
  </head>
<body>
    <!-- navbar/banner -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/diabetes">Diabetes Prediction</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/cardio">Cardiovascular Prediction</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                  </ul>
            </div>
        </div>
      </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavender;">.col-sm-1</div>
            <div class="col-sm-1" style="background-color:lavenderblush;">.col-sm-1</div>
          </div>
    </div>

    	<!-- Bootstrap grid setup -->
	<div class="container">
        {% block content %}
        {% endblock %}
	</div>
</body>
</html>